<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.1//EN”
http://WWW.W3.ORG/trXHTML11/dtd/xhtml11.dtd>
<html xmlns=http://www.w3.org/1999/xhtml xml:lang=”en”>
<head>
	<title>NFL Data</title>
	<meta name=”description” content=”page description”/>
	<meta name=”author” content=”Your name”/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<link href = "main.css" rel = "stylesheet" type = "text/css" />
	<script type = "text/javascript" src = "teamRecords.js"></script>
<script>
function getInfo()
{
	document.getElementById("name").innerHTML = " ";
	document.getElementById("whodat").innerHTML = " ";
	document.getElementById("group").innerHTML = " ";
	document.getElementById("profile").innerHTML = " ";
	document.getElementById("error").innerHTML = " ";
	var team = new Array (); var nicky = new Array ();
	var group = new Array (); var web = new Array ();
	var key = prompt("Enter the nickname of the team to search: ");
	nicky = nickNames(); web = webProfile();
	group = nflDivision(); team = teamName();
	var N = (nicky.length - 1);
	var low = 0; var high = N; var found = 0; var index = 0;
	//bubbleIt (N, nicky, team, group, web);
	index = nicky.indexOf(key); 
	var message = "<h3>No information, try again. " + key + "</h3>";
	if (index == -1)
			document.getElementById("error").innerHTML = message;
	else
	{
		document.getElementById("name").innerHTML = ("<h3>Nick Name: " + nicky[index] + "</h3>");
		document.getElementById("whodat").innerHTML = ("<h3>Team Name(s): " + team[index] + "</h3>");
		document.getElementById("group").innerHTML = ("<h3>Division: " + group[index] + "</h3>");
		document.getElementById("profile").innerHTML = ("<h3>Profile: " + web[index] + "</h3>");
	}
}
</script>
</head>
<head>

</head>
<body>
<h2>Find your team Information</h2>
<div id = "container" >
	<h3>Enter the team Nickname, use Uppercase first letters<h3>
	<div id = "content" style = "width: 700px; margin-left: auto; margin-right: auto;">
		<p><input type = "button" value = "Get Your Team's 411" onclick = "getInfo();" /></p>
		<div id = "name"><p>&nbsp;</p> </div>
		<div id = "whodat"><h3>&nbsp;</h3> </div>
		<div id = "group"><h3>&nbsp;</h3> </div>
		<div id = "profile"><h3>&nbsp;</h3> </div>
		<div id = "error"><h3>&nbsp;</h3> </div>
	</div>
	<div style = "clear:both;"></div>
</div>
</body>
</html>